{{> head }}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Spider Man </h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae autem repellendus nihil at praesentium consectetur ratione officia, atque fugiat amet eos nobis numquam ab excepturi quibusdam iusto incidunt, molestias dolores!
        </p>
    </div>

    <div class="col-4">

        <img src="assets/img/imagen01.jpg" class="img-thumbnail">

    </div>
</div>



{{> footer}}